* {
   box-sizing: border-box;
}

body{
    margin: 0;
}

.nav {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem
}

.Orders {
    font-size: 2rem;
    font-style: arial;
}

nav ul{
    padding: 0;
    margin: 2;
    list-style: none;
    display: flex;
    gap: 3rem; 
}

nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.nav li.active {
    background-color: rgb(13, 142, 3);
}

.nav li:hover {
    background-color: rgb(28, 243, 13)
}
